@font-face {
    font-family: "GE Inspira Bold";
    src: url(../fonts/GEInspBd.TTF);
}

@font-face {
    font-family: "GE Inspira Bold Italic";
    src: url(../fonts/GEInspBI.TTF);
}

@font-face {
    font-family: "GE Inspira Italic";
    src: url(../fonts/GEInspIt.TTF);
}

@font-face {
    font-family: "GE Inspira Regular";
    src: url(../fonts/GEInspRg.TTF);
}

@font-face {
    font-family: "GE Inspira Serif Italic";
    src: url(../fonts/GEInspiraSerif-Italic-v01.TTF);
}

@font-face {
    font-family: "GE Inspira Serif Bold";
    src: url(../fonts/GEInspiraSerif-Bold-v01.TTF);
}

@font-face {
    font-family: "GE Inspira Serif Bold Italic";
    src: url(../fonts/GEInspiraSerif-BoldItalic-v01.TTF);
}

@font-face {
    font-family: "GE Inspira Serif Regular";
    src: url(../fonts/GEInspiraSerif-Regular-v01.TTF);
}