/*
Theme Name: GE Store
Theme URI: http://gestore.com.au
Author: Fairfax Media
Author URI: http://fairfaxmedia.com.au
Description: This theme is for GE Store
Version: 1.0
License: For use by Fairfax Media only
License URI: http://fairfaxmedia.com.au
Tags: one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, featured-images, post-formats, sticky-post
Text Domain: gestore
*/

@import url("fonts.css");

body{
    background-image: url("../img/bg.png");
    background-size: 100%;
    font-family: "GE Inspira Regular";
}

a:hover{
    text-decoration: none;
}

.index .page-header h1, .info-page .page-header h1{
    color: white;
    position: relative;
    font-family: "GE Inspira Bold";
    display: none;
}

.index .page-header, .info-page .page-header{
    border: 0;
}

.index .page-header img, .info-page .page-header img{
    margin-top: 20px;
}

.index .header-logo, .info-page .header-logo{
    border-radius: 50%;
    background-color: transparent;
    width: 50px;
    margin: auto;
    z-index: 1;
    position: relative;
}

.index .search-bar{
    background-color: #1863ab;
    padding: 15px 0px;
}

.index .search-bar input{
    background-color: transparent;
    border: 0;
    color: white;
    letter-spacing: 1px;
    width: 30%;
}

.index .search-bar input:focus{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.index .search-bar form{
    margin: 0;
}

.index .search-bar form img{
    margin-top: -2px;
}

.index .search-bar input::-webkit-input-placeholder
{
    color: white;
}

.index .search-bar input:-moz-placeholder
{
    color: white;
}

::-moz-placeholder
{
    color: white;
}

.index .search-bar input:-ms-input-placeholder
{
    color: white;
}

.index .nav-links{
    padding: 0;
    padding-bottom: 20px;
}

.index .nav-links a{
    color: inherit;
}

.index .nav-links a:hover{
    text-decoration: none;
}

.index .nav-links ul{
    list-style: none;
    padding: 0;
}

.index .nav-links ul li{
    padding: 0;
    border-bottom: 1px solid rgba(139, 177, 213, 0.5);
}

.index .nav-links ul li div{
    letter-spacing: 3px;
    font-family: "GE Inspira Bold";
    width: 35%;
    margin:auto;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 14px;
}

.index .nav-links ul li div img{
    margin-top: 3px;
}
/* Post feed */
.index .current-date, .news-feed .current-date{
    font-size: 8px;
    color: #1863ab;
    font-family: "GE Inspira Bold";
}

.news-feed .current-date p{
    margin-top: 20px;
}

.index .post-feed a, .news-feed .post-feed a{
    color: #333;
}

.index .post-feed a:focus, .news-feed .post-feed a:focus{
    outline: none;
}

.index .post-feed .post-item, .news-feed .post-feed .post-item{
    height: 16vh;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 5px 5px 13px #888888;
}

.index .post-feed .post-item img, .news-feed .post-feed .post-item img{
    height: 16vh;
    width: auto;
}

.index .post-feed .post-item-content, .news-feed .post-feed .post-item-content{
    position: relative;
    height: 100%;
    width: 60%;
    padding: 10px;
    font-family: "GE Inspira Bold";
    font-size: 13px;
}

.index .post-feed .post-description, .news-feed .post-feed .post-description{
    color: #1863ab;
    bottom: 0;
    position: absolute;
    padding-bottom: 10px;
    font-size: 8px;
}

.post-feed, .news-content{
    margin-bottom: 68px;
}


/* Bottom Nav Menu */

.bottom-nav-menu{
    padding: 0;
    position: fixed;
    bottom: 0;
    background-image: url("../img/bg.png");
    background-size: 100%;
    background-position: 0 15%;
}


.bottom-nav-menu ul{
    list-style: none;
    padding: 0;
}

.bottom-nav-menu ul li a{
    width: 20%;
    text-align: center;
    float: left;
    padding: 20px 0px;
    border: 0.5px solid rgba(139, 177, 213, 0.1);
}

.bottom-nav-menu ul li a:hover{
    border-bottom: 2px solid #384242;
}

.bottom-nav-menu ul li#ge-home a:hover, .bottom-nav-menu .active a, .bottom-nav-menu .active a:hover{
    border-bottom: 2px solid #1863ab;
}

.bottom-nav-menu ul li a img{
    width: 25px;
    height: 25px;
}

/* Top Nav Menu */

.top-nav-menu{
    height: 12vh;
    background-color: #1863ab;
    padding: 0px 10px;
}

.top-nav-menu .nav-content{
    position: absolute;
    bottom: 0;
}

.top-nav-menu .nav-title{
    color: white;
    letter-spacing: 4px;
    display: inline-flex;
}

.top-nav-menu .nav-content img{
    height: 15px;
    width: 10px;
}

.top-nav-menu .nav-content a{
    float: left;
    display: block;
    margin-top:8px;
    padding-right: 25px;
}

.menu-links{
    margin-bottom: 68px;
}

/* Main Content Container */

.main-content-container{
    padding: 0px 45px;
}

.main-content-container ul{
    list-style: none;
    padding: 0;
}

.main-content-container ul li a{
    display: inline-block;
    padding: 10px 0px;
    width: 100%;
    border-bottom: 0.5px solid rgba(139, 177, 213, 0.5);
    color: inherit;
    /*font-family: "GE Inspira Bold";*/
}

.main-content-container ul li a:hover{
    text-decoration: none;
}

.main-content-container ul li a img{
    margin-top: 3px;
}

/* Search Bar */
.search-bar .main-content-container{
    border-bottom: 0.5px solid rgba(139, 177, 213, 0.5);
    padding: 10px 45px;
}

.search-bar .main-content-container div{
    padding: 0;
} 

.search-bar .search-img{
    width: 10.5%;
}
.search-bar .search-field{
    width: 89.5%;
}

.search-bar .main-content-container div img{
    /*padding: 5px;*/
    width: 20px;
    height: 20px;
    margin-top: 6px;
}

.search-bar .main-content-container div input{
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    font-size: 12px;
}

.search-bar .main-content-container div input::-webkit-input-placeholder
{
    color: #333;
}

.search-bar .main-content-container div input:-moz-placeholder
{
    color: #333;
}

.search-bar .main-content-container div input:-ms-input-placeholder
{
    color: #333;
}

/* Scroll Nav Menu */
.scroll-nav-menu{
    height: 19px;
    /*margin: 10px 0;*/
    display: inline-flex;
    /*padding-left: 15px;*/
    margin-bottom: 13px;
    margin-top: 7px;
}

.scroll-nav-menu ul{
    margin: 0;
    padding: 0;
}

.scroll-nav-menu ul li{
    display: inline;
    list-style-type: none;
}

.nav-content .scroll-nav-menu ul a, .nav-content .scroll-nav-menu .divider{
    display: block;
    float: left;
    padding: 0 6px;
    padding-bottom: 13px;
    font-size: 9px;
    color: rgba(255,255,255,0.5);
    letter-spacing: 1px
}

.nav-content .scroll-nav-menu .divider{
    padding:0;
    margin-top: 8px;
}

.nav-content .scroll-nav-menu ul a.active{
    color: white;
}

.nav-content .scroll-nav-menu ul li:first-child a{
    padding-left: 0px;
}

/* Post Article */
.post-article .post-banner{
    padding: 0;
    height: 21vh;
    width: 100%;
    background-image: url("../img/post1-img-full.png");
    background-size: 100%;
    background-position: 0 12%;
}

.post-article .post-categories{
    height: 23px;
    background-color: white;
    padding: 0 45px;
}

.post-article .post-categories ul{
    margin: 0; 
    padding: 6px 0;
    font-size: 8px;
}

.post-article .post-categories ul li{
    display: inline;
    list-style-type: none;
}

.post-article .post-categories ul p, .post-article .post-categories ul .divider{
    display: block;
    float: left;
    padding: 0 3px;
}

.post-article .post-categories ul li:first-child p{
    padding-left: 0px;
}

.post-title{
    font-family: "GE Inspira Bold";
    letter-spacing: 3px; 
}

/* Info Page */
.info-page .main-content-container h3{
    letter-spacing: 4px;
    font-family:"GE Inspira Bold";
    margin-top: 10px;
}

.info-page .about-content{
    margin-bottom: 25px;
}

/* Contact Box*/
.contact-box{
    height: 19vh;
    background-color: white;
    box-shadow: 0px 5px 13px #888888;
    margin-bottom: 88px;
}

.contact-text p{
    font-size: 11px;
    margin-bottom: 5px;
    font-family:"GE Inspira Bold";
    color: #1863ab;
}

.contact-pic{
    width: 15vh;
    height: 100%;
    float:left;
    padding: 2vh 0px;
}

.contact-pic img{
    width: 100%;
    height: 100%;
}

.contact-prev{
    float: left;
    width: 3vh;
    height: 3vh;
    margin: 8vh 0;
    margin-left: -3vh;
}
.contact-prev img{
    width: 100%;
    height: 100%;
}

.contact-next{
    float: right;
    width: 3vh;
    height: 3vh;
    margin-top: -11vh;
    margin-right: -3vh;
    clear:both;
}
.contact-next img{
    width: auto;
    height: 100%;
}

.contact-content{
    height: 100%;
    padding: 2vh 0;
    float:left;
    margin-left: 5px;
}

.contact-content h4{
    margin-bottom: 3px;
    margin-top: 0;
    font-size: 16px;
    font-family:"GE Inspira Bold";
}

.contact-content p{
    margin-bottom: 0;
    font-size: 0.7em;
}

.content-divider{
    margin: 5px 0;
    width: 30%;
    border-bottom: 1px solid rgba(155, 160, 160, 0.5);
}
